/* MEDIA QUERIES */

@media (max-width: 768px) {
    /* Adjustments for smaller screens */
  
    nav,
    .nav-links {
      display: none;
    }
  
    #hamburger-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10vh;
      padding: 0 1rem;
    }
  
    .section-container {
      flex-direction: column;
      margin: 0 1rem;
    }
  
    section {
      padding: 2rem 1rem;
      margin: 0;
    }
  
    .profile-img,
    .about-pic,
    .project-img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
  
    .section__pic-container {
      width: 100%;
    }
  
    .details-container {
      margin-bottom: 2rem;
    }
  
    .arrow {
      right: 1rem;
    }
  
    .experience-details-container,
    .about-details-container {
      flex-direction: column;
    }
  
    .experience-details-container.projects {
      flex-direction: column;
    }
  
    .color-container {
      flex: 1 1 100%;
    }
  }
  