@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Fondamento', cursive;
    color: #505962;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/*-- Navigation --*/
nav.bg-dark {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: .1rem;
    background-color: #505962!important;
    /* background: rgba(0, 0, 0, 0.6)!important; */
}

.navbar-brand img {
    height: 1.5rem;
    margin-left: .9rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.bg-dark .navbar-nav a.nav-link  {
    color: white;
    padding-top: .8rem;
}

.bg-dark .navbar-nav .nav-link.active,
.bg-dark .navbar-nav .nav-link:hover {
    color: #008000!important;
}

/*-- Landing Page --*/
.home-inner {
    background-image: url(./img/photo-of-a-laptop-and-a-tablet-on-the-table-2528118.jpg);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.caption .btn-lg {
    border-width: medium;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
    color: white;
    text-shadow: .1rem .1rem .3rem black;
}

.caption .btn-lg:hover {
    background-color: #87CEEB;
    border-color: #87CEEB;
    text-shadow: .1rem .1rem .3rem white;
}

/*-- Carousel Slider --*/
.carousel-item {
    height: 100vh;
}

/*-- About Section --*/
.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: .5rem;
}

.narrow h1 {
    font-size: 2.4rem;
}

/* .narrow .btn-secondary {
    border-width: 0;
    border-radius: 0;
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    color: white;
    background-color: #505962; 
    border-color: #32CD32 #87CEEB(skyblue); 
} */

/* .narrow .btn-secondary:hover {
    color: white;
    box-shadow: 0 0 10px #32CD32, 0 0 40px #32CD32, 0 0 80px #32CD32;
    background-color: #32CD32;
    border-color: #32CD32;
    transition-delay: 0.5s;
} */

a.btn-neon:link {
    text-decoration: none;
}

a.btn-neon:visited {
    text-decoration: none;
}

a.btn-neon {    
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 10px 13px 10px;
    overflow: hidden;   
    color: #32CD32;
    letter-spacing: 1.7px;
    transition: 0.2s;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

a.btn-neon:hover {
   color: white;
   background: #32CD32;
   box-shadow: 0 0 10px #32CD32, 0 0 40px #32CD32, 0 0 80px #32CD32;
   transition-delay: 0.9s;
}

a.btn-neon span {
    position: absolute;
    display: block;
}

a.btn-neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1.9px;
    background: linear-gradient(90deg,transparent,#32CD32);
}

a.btn-neon:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a.btn-neon span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1.9px;
    background: linear-gradient(270deg,transparent,#32CD32);
}

a.btn-neon:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a.btn-neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1.9px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#32CD32);
}

a.btn-neon:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a.btn-neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1.9px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#32CD32);
}

a.btn-neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*-- Solutions Section --*/
.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.1rem;
    border-radius: 0;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #87CEEB;
    margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
    color: #87CEEB;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature p {
    font-size: .9rem;
}

/*-- Team Section --*/
.padding .card {
    margin-bottom: 1rem;
    height: 500px;
    width: 400px;
}

.card .card-footer {
    padding-top: 0;
    padding-bottom: .6rem;
}

.card a {
    color: white;
}

.card svg.svg-inline--fa:hover {
 color: #87CEEB!important;
}

.row {
    margin-right: 1rem;
}

.fixed-background .dark {
    padding: 1.5rem 2rem;
    background-repeat: no-repeat;
    background-image: url(./img/close-up-of-hand-over-white-background-316465.jpg);
    background-size: 100% 100%;
    background-position: left;
    background-attachment: fixed;
}

/*-- Clients Section --*/
.clients img {
    width: 100%;
    border-radius: 50%;
}

.clients .image2 img {
    width: 100%;
    height: 70%;
    border-radius: 50%;
}

blockquote svg.svg-inline--fa {
    color: #87CEEB;
    margin: 1rem;
}

.clients-hr {
    border-top: .05rem solid #87CEEB;
}

.offset .dream-label {
    background-image: linear-gradient(to right, #b2d235, #0070a7, #00bdf2 15%, #ed1c24);
}

.dream-label p.heading {
    font-weight: 800;
    font-size: 1.1rem;
    text-shadow: .2rem .2rem .8rem white;
    color: white;
    text-transform: uppercase;
}

/*-- Contact Section --*/
footer {
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 0;
    border-top: thin;
}

footer img {
    height: 2.5rem;
    margin: 1.5rem 0;
}

footer a{
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #87CEEB!important;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

/*-- Media Queries --*/
@media (max-width: 991px) {
    /*-- Landing Page --*/
    .caption h1 {
        font-size: 2.3rem;    
        letter-spacing: .16rem;     
        padding-bottom: .5rem;
    }
    
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    .caption .btn-lg {        
        padding: .4rem 1rem;
        font-size: .9rem;
    }
    
    /*-- About Section --*/
    .narrow h1 {
        font-size: 1.5rem;
    }
    
    .clients img {
        width: 50%;
        height: 70%;
        display: block;
        margin: 0 auto;
    }
    
    .clients .image2 img {
        width: 50%;
        height: 40%;
        margin-top: 1rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    /*-- Team Section --*/
    .padding .card {
        margin-bottom: .7rem;
        margin-right: auto;
        margin-left: auto;
        height: 530px;
        width: 300px;
    }

    .padding .card-1 {
        margin-bottom: 4rem;
        margin-right: auto;
        margin-left: auto;
        height: 470px;
        width: 300px;
    }

    .padding .card img{
        height: 100%;
        width: 100%;       
    }

    .padding .card-1 img{
        height: 40%;
        width: 100%;
        padding-bottom: 0;
    }

   .card a {
       color: white;
   }

   .card svg.svg-inline--fa:hover {
    color: #87CEEB!important;
   }

   /*-- Clients Section --*/
.clients img {
    width: 100%;
    border-radius: 50%;
}

.clients .image2 img {
    width: 100%;
    height: 70%;
    border-radius: 50%;
}
.clients blockquote svg.svg-inline--fa {
    color: #87CEEB;
    margin: 1rem;
}
}

@media (max-width: 575px) {
    body {
        overflow-x: auto;
        font-family: 'Fondamento', cursive;
        color: #505962;
    }    

    .clients img {
        width: 50%;
        height: 70%;
        border-radius: 50%;
        margin-bottom: 0;
    }
    
    .clients .image2 img {
        width: 50%;
        height: 60%;
        border-radius: 50%;
        margin-bottom: 0;
    }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/